<!-- FOOTER FIXO NO FINAL -->
<footer class="md:px-20  border-amber-700 p-4 flex flex-col justify-center items-center bg-black/100 px-8 pt-10 space-y-6 border-0">
    <h1 class="text-lg font-semibold text-red-700">SERVIÇOS</h1>
    <ul class="justify-center gap-2 flex flex-col text-sm text-white">
        <li class="underline hover:text-gray-300"><a href="" class="underline">Hospedagem</a></li>
        <li class="underline hover:text-gray-300"><a href="" class="underline">Auditoria</a></li>
    </ul>

    <div class="container text-center border-t border-gray-300 md:border-t md:border-gray-300 py-2">
        <h2 class="text-xs text-white">
            Todos os direitos reservados™ Copyright ZEINER© NIF: 5000965715
        </h2>
    </div>
</footer>