<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Tailwind via CDN -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Configuração do Tailwind para usar a fonte Inter -->
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    fontFamily: {
                        sans: ['Inter', 'sans-serif'],
                    },
                },
            },
        };
    </script>

    <!-- Fonte Inter do Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet" />

    <!-- Favicon e CSS adicional -->
    <link rel="shortcut icon" href="/assets/img/logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="/assets/css/style.css" />

    <title>ZEINER | Inovação e Soluções</title>
</head>

<body class="bg-[url('assets/img/bg2.jpg')] bg-fixed bg-cover bg-center font-sans">

    <!--IMPORTANDO O HEADER-->
    <%- include('includes/header')%>

        <!-- CAMADA ESCURA SEMI-TRANSPARENTE E LAYOUT PRINCIPAL -->
        <div class=" bg-black/90 min-h-screen flex flex-col">


            <!--Hero da Pagina-->
            <section class="min-h-[40vh] hero md:min-h-screen border-0 border-red-600 flex justify-center items-center">
                <div class="font-bold text-2xl text-gray-50 flex  border-0">
                    <a href="/seguranca" class="underline hover:text-gray-300 m-6">
                        SEGURANÇA DE DADOS
                    </a>
                    <a href="/softwares" class="underline hover:text-gray-300 m-6">
                        SOFTWARES
                    </a>
                </div>
            </section>

            <!-- CONTEÚDO PRINCIPAL QUE CRESCE -->
            <main
                class="w-full px-5 min-h-screen flex lg:flex-col lg:justify-center lg:items-center mx-auto md:px-20 p-8 bg-black/90  mt-6 border-0 border-red-900">

                <section class="w-full px-2 sm:px-4 md:px-6 lg:px-8 py-6 bg-black text-white">

                    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 max-w-7xl mx-auto">

                        <!-- CARD 1 -->
                        <div
                            class="flex flex-col justify-center items-center rounded-md p-6 space-y-4 border border-gray-700 bg-gray-900">
                            <img src="./assets/img/missao.svg" alt="" class="rounded-full w-24 h-24">
                            <h1 class="text-xl font-bold mb-2 text-red-600">MISSÃO</h1>
                            <p class="text-sm font-light text-gray-300 text-center">
                                A ZEINER fornece serviços orientados para os cliente, destacando-se pela oferta
                                de soluções em tecnologias, sejam elas simples como Sistemas critico, com
                                eficiência e fiabilidade. O objetivo é melhorar as tecnologias dos seus clientes,
                                colaboradores e sociedade em geral.
                            </p>
                        </div>

                        <!-- CARD 2 -->
                        <div
                            class="flex flex-col justify-center items-center rounded-md p-6 space-y-4 border border-gray-700 bg-gray-900">
                            <img src="./assets/img/visao.svg" alt="" class="rounded-full w-24 h-24">
                            <h1 class="text-xl font-bold mb-2 text-red-600">VISÃO</h1>
                            <p class="text-sm font-light text-gray-300 text-center">
                                Ser e manter-se como uma empresa líder em Desenvolvimento de Softwares,
                                Proteção de dados, integração de sistemas e comunicação eletrónica, tanto no
                                contexto nacional e Internacional.
                            </p>
                        </div>

                        <!-- CARD 3 -->
                        <div
                            class="flex flex-col justify-center items-center rounded-md p-6 space-y-4 border border-gray-700 bg-gray-900">
                            <img src="./assets/img/valores.svg" alt="" class="rounded-full w-24 h-24">
                            <h1 class="text-xl font-bold mb-2 text-red-600">VALORES</h1>
                            <p class="text-sm font-light text-gray-300 text-center">
                                A empresa valoriza a criação de valor, promovendo união, solidez, confiança,
                                transparência e rigor. Estes princípios garantem o desenvolvimento sustentável,
                                a gestão eficiente do talento e das competências, e asseguram a integridade e
                                o respeito pelos direitos e deveres dos colaboradores.
                            </p>
                        </div>

                    </div>

                </section>


            </main>

            <%- include('includes/footer')%>
        </div>

        <script src="/js/app.js"></script>
        <script src="https://kit.fontawesome.com/e3668cdb43.js" crossorigin="anonymous"></script>
</body>

</html>