<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>ZEINER | login</title>
</head>

<body class="bg-[url('../assets/img/bg1.jpg')] bg-fixed bg-cover bg-center">

    <!-- HEADER -->
    <%- include('includes/header') %>

    <!-- CAMADA ESCURA SEMI-TRANSPARENTE E LAYOUT PRINCIPAL -->

    <main class="h-full md:min-h-screen  bg-black/60 flex justify-center items-center">
        <section class="border-0 bg-black/75 text-white w-full min-h-full rounded md:w-100 md:border-0 py-8">
            <h1>Pagina Cursos em Manutenção</h1>
        </section>
    </main>

    <!-- CONTEÚDO PRINCIPAL QUE CRESCE -->

    <!-- FOOTER FIXO NO FINAL -->
    <%- include('includes/footer') %>

    </div>
    <script src="/js/app.js"></script>
    <script src="https://kit.fontawesome.com/e3668cdb43.js" crossorigin="anonymous"></script>

</body>

</html>