<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>ZEINER | login</title>
</head>

<body class="bg-[url('../assets/img/bg1.jpg')] bg-fixed bg-cover bg-center">

    <!-- HEADER -->
    <!-- FAZENDO INCLUDE -->

    <!-- CAMADA ESCURA SEMI-TRANSPARENTE E LAYOUT PRINCIPAL -->

    <main class="md:min-h-screen  bg-gray-800/90 flex justify-center items-center">
        <section class="border-0 bg-black/75 text-white w-full min-h-full rounded md:w-100 md:border-0 py-8">
            <form action="" method="post" class="flex flex-col text-center px-8 py-10 space-y-2 border-0">
                <span class="my-6 text-2xl">Sign in</span>
                <input type="email" name="" id="" placeholder="Informe seu Email"
                    class="h-12 border rounded pl-2 focus:bg-gray-700"><br>
                <input type="password" name="" id="" placeholder="Informe sua Password"
                    class="h-12 border rounded pl-2 focus:bg-gray-700"><br>
                <input type="submit" value="login"
                    class="bg-red-700 rounded py-2 hover:bg-red-800 duration-300 text-white">
            </form>
            <div class="flex flex-col px-8 text-center text-xs space-y-2">
                <a href="" class="hover:text-gray-300 text-white underline-offset-2 underline">Esqueceu Email ou
                    Password?</a>
                <a href="/criar-conta" class="hover:text-gray-300 text-white underline underline-offset-2">Criar Conta</a>
            </div>
        </section>
    </main>

    <!-- CONTEÚDO PRINCIPAL QUE CRESCE -->

    <!-- FOOTER FIXO NO FINAL -->
    

    </div>
    <script src="/js/app.js"></script>
    <script src="https://kit.fontawesome.com/e3668cdb43.js" crossorigin="anonymous"></script>

</body>

</html>