/*body {
  font-family: "Segoe UI Variable", "Segoe UI", -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
}
*/
/* Cores do Design System Rocketseat */
:root {
  --primary-color: #8257E5;
  /* Roxo padrão Rocketseat */
  --primary-light-color: #9871F5;
  /* Roxo mais claro */
  --secondary-color: #F2F2F2;
  /* Cinza claro */
  --gray-dark: #333333;
  --text-color: #E1E1E6;
  /* Cor do texto principal */
}

/* Animação para a transição do menu */
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideDown {
  animation: slideDown 0.3s ease-out forwards;
}

/* Estilo do botão hamburguer */
.hamburger-open .bar1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger-open .bar2 {
  opacity: 0;
}

.hamburger-open .bar3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/*minhas animações*/
@keyframes esquerda {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.h1-esq{
  animation: esquerda 1s ease-out;
}
@keyframes direita {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.h1-dir{
  animation: direita 1s ease-out;
}

@keyframes visivel {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to{
    transform: translateY(100%);
    opacity: 1;
  }
}

.card-inf {
  animation: visivel, 4s ease-in;
}

.sombra {
  -webkit-mask-image: radial-gradient(rgb(146, 30, 30), transparent);
  mask-image: radial-gradient(black, transparent);
  border: 0px solid red;
}
